@import url(styles/common.css);

@media only screen and (width < 500px) {
    :root {
        --text-large: 42px;
        --text-medium: 16px;
        --text-nav-title: clamp(14px, 3vw, 1.5rem);
        --text-nav-link: clamp(12px, 3vw, 1rem);
        --logo-size: 50px;
    }
    nav {
        flex-direction: column;
        align-items: center;
        margin: calc(var(--margin) / 1.5) calc(var(--margin) * 1.25);
        padding: .5rem 0;
    }
    .left { gap: 0.5rem; }
    .right {
        gap: calc(var(--margin) / 2);
        margin-right: 0;
    }
    .socials { gap: calc(var(--margin) / 2); }
}
@media only screen and (width < 700px) and (width > 500px) {
    :root {
        --text-large: 42px;
        --text-medium: 16px;
        --text-nav-title: clamp(14px, 3vw, 1.5rem);
        --text-nav-link: clamp(12px, 3vw, 1rem);
        --logo-size: 50px;
    }
    nav { margin: calc(var(--margin) / 1.5) var(--margin); height: calc(var(--margin) + 48px); padding: 0 var(--margin); }
    .left { gap: 0.5rem; }
    .right {
        gap: calc(var(--margin) / 2);
        margin-right: calc(var(--margin) / 2.5);
    }
    .socials { gap: var(--margin); }
}
@media only screen and (width < 1150px) and (width > 700px){
    :root {
        --text-large: 64px;
        --text-medium: 26px;
        --text-nav-title: clamp(14px, 3vw, 2.25rem);
        --text-nav-link: clamp(12px, 3vw, 1.75rem);
        --logo-size: 80px;
    }
    nav { margin: calc(var(--margin) / 1.5) var(--margin); height: calc(var(--margin) + 48px); padding: 0 var(--margin); }
    .left { gap: 1rem; }
    .right {
        gap: calc(var(--margin) / 1.75);
        margin-right: calc(var(--margin) / 2.25);
    }
    .socials { gap: var(--margin); }

}
@media only screen and (width > 1150px){
    :root {
        --text-large: 64px;
        --text-medium: 26px;
        --text-nav-title: clamp(20px, 6vw, 2.5rem);
        --text-nav-link: clamp(20px, 6vw, 2rem);
        --logo-size: 80px;
    }
    nav { margin: calc(var(--margin) / 1.5) calc(var(--margin) * 4); height: calc(var(--margin) + 48px); padding: 0 var(--margin); }
    .left { gap: 1.5rem; }
    .right {
        gap: calc(var(--margin) / 1.5);
        margin-right: calc(var(--margin) / 2);
    }
    .socials { gap: var(--margin); }
}

html, body {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(var(--bg-rgb));
}
.blobwrap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.bg {
    position: absolute;
    z-index: 0;
    height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    opacity: 0.1;
    filter: blur(5px);
}

.navcont {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
}
nav {
    border: solid 2px rgba(var(--button), 0.6);
    border-radius: 6rem;
    background-color: rgba(var(--container-bg), 0.5);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    translate: 0 -150%;
    animation: appear .6s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
@keyframes appear {
    from {
        translate: 0, -150%;
    }
    to {
        translate: 0;
    }
}

.left {
    height: inherit;
    display: flex;
    align-items: center;
}
.left > h1 {
    font-family: 'Nunito', sans-serif;
    font-size: var(--text-nav-title);
    color: white;
}
.right{
    display: flex;
    align-items: center;
} 
.right > a {
    font-family: 'Nunito', sans-serif;
    font-size: var(--text-nav-link);
    letter-spacing: normal;
    text-decoration: none;
    
    color: white;
    transition-duration: 200ms;
}
.right > a:hover {
    letter-spacing: 1.5px;
}
#prices {
    padding: .8rem;
    background-color: rgb(var(--button));
    border-radius: calc(var(--button-radius) * 1.5 );
}
#labs:hover { color: var(--labs-accent); }
#ych:hover { color: var(--ych-accent); }
#prices:hover { background-color: var(--main-accent); }

#logo {
    height: var(--logo-size);
    max-height: 80px;
    transition-duration: 200ms;
    filter: drop-shadow(0px 0px 2px #00000044);
}
#logo:hover {
    scale: 1.1;
}

.content {
    position: absolute;
    z-index: 2;
}
section {
    height: 100vh;
    width: 100vw;
}
section > * {
    color: white;
    font-family: 'Nunito', sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero #text { margin: var(--margin); }
#text > * { transition-duration: 200ms;}
#text h1 { font-size: var(--text-large); }
#text h2 {
    font-size: var(--text-medium);
    color: var(--text-soft);
    max-width: 80ch;
}

.socials {
    font-size: clamp(34px, 6vw, 2.5rem);
    user-select: none;
    -webkit-user-select: none;
  
    display: flex;
    align-items: center;
}
.socials a { height: fit-content; }
.socials i {
    color: white;
    transition-duration: 200ms;
}
.socials i:hover { font-size: clamp(36px, 7vw, 2.8rem); }

.fa-discord:hover { color: #586aea; }
.fa-twitter:hover { color: #00a3e8; }
.fa-mastodon:hover { color: #2b8fda; }
.fa-paw:hover { color: #957779; }
.fa-github:hover { color: #51d4ff; }
.fa-envelope:hover { color: var(--main-accent); }

.button {
    margin-top: calc(var(--margin) * 1.5);
    padding: calc(var(--margin)/1.5);

    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: clamp(20px, 6vw, 2rem);
    text-decoration: none;
    letter-spacing: normal;

    border-radius: 6rem;
    background: rgb(var(--button));
    transition-duration: 200ms;
}
.button:hover {
    background: var(--main-accent);
    box-shadow: 0 0 20px var(--main-glow);
    letter-spacing: 2px;
}