@import url(styles/common.css);

@media only screen and (width < 600px){
  #blob {
    display: none;
  }
  .card {
    height: 60dvh;
    width: clamp(300px, 40dvw, 50%);
  }
  .socials {
    flex-direction: column;
    flex-wrap: wrap;
    height: 20%;
  }
  .double {
    margin: 1rem 0;
  }
  .button{
    padding: 1rem;
  }
}
@media only screen and (width < 1100px) and (width > 600px) {
  .card {
    width: 80%;
  }
  .button{
    padding: 1.5rem;
  }
}
@media only screen and (width > 1100px){
  .card {
    width: clamp(300px, 40dvw, 50%);
  }
  .button{
    padding: 1.5rem;
  }
}
html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(var(--bg-rgb));
}

.bg img {
  position: fixed;
  z-index: 0;
  height: 100dvh;
  width: 100dvw;
  object-fit: cover;
  opacity: 0.1;
  filter: blur(5px);
}

#blob {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 200px;
  aspect-ratio: 1;
  filter: blur(100px);
  opacity: 0;
  animation: fade 1s ease-in 1s forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
}
@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.wrapper {
  display: flex;
  justify-content: center;
}
.gradient {
  position: fixed;
  bottom: 0px;
  z-index: 3;
  aspect-ratio:16/9;
  margin: 0;
  background: radial-gradient(circle at center bottom, var(--main-accent), rgba(var(--bg-rgb), 0) 40%);
  animation: breathe 10s infinite ease-in-out;
}

@keyframes breathe {
  from, to {height: 50%;}
  50% {height: 100%;}
}

.cardwrapper {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.card {
  z-index: 4;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  aspect-ratio: 1;
  padding: 2rem;
  
  border: 2px solid rgb(var(--container-border));
  border-radius: 2rem;
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
}

.text {
  position: relative;
  margin: 2vmin;
  text-align: center;
}

.text h1 {
  font-family: 'Nunito', sans-serif;
  font-size: clamp(45px, 8vw, 6rem);
  margin: 0;
  margin-bottom: 2rem;
  color: var(--text-soft);
  transition: 500ms;
}
.text h1:hover {
  font-size: clamp(47px, 8.4vw, 6.2rem);
  color: white;
}

.text p {
  font-family: 'Nunito sans', sans-serif;
  font-size: clamp(16px, 4vw, 2rem); 
  line-height: clamp(10px, 4vmax, 3rem);
  margin-top: 1rem;
  color: var(--text-soft);
}

.socials {
  font-size: clamp(20px, 6vw, 2.5rem);
  user-select: none;
  -webkit-user-select: none;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.socials a{
  height: fit-content;
}
.socials i {
  color: white;
  transition: 400ms;
}

.double {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.fa-discord:hover {
  color: #586aea;
  font-size: clamp(36px, 7vw, 2.8rem);
}

.fa-twitter:hover {
  color: #00a3e8;
  font-size: clamp(36px, 7vw, 2.8rem);
}

.fa-mastodon:hover {
  color: #2b8fda;
  font-size: clamp(36px, 7vw, 2.8rem);
}

.fa-paw:hover {
  color: #957779;
  font-size: clamp(36px, 7vw, 2.8rem);
}
.fa-github:hover {
  color: #51d4ff;
  font-size: clamp(36px, 7vw, 2.8rem);
}
.fa-envelope:hover {
  color: var(--main-accent);
  font-size: clamp(36px, 7vw, 2.8rem);
}

.button {
  font-family: 'Nunito', sans-serif;
  font-size: clamp(20px, 6vw, 2rem);
  text-decoration: none;
  color: white;
  letter-spacing: normal;
  border-radius: var(--button-radius);
  background: rgb(var(--button));
  transition-duration: 500ms;
}
.button:hover {
  background: var(--main-accent);
  box-shadow: 0 0 20px var(--main-glow);
  letter-spacing: 2px;
  border-radius: calc(var(--button-radius) / 2);
}