@import url(../styles/common.css);
@import url(../styles/ych-labs.css);

@media only screen and (width < 1000px) {
    #banner {
        width: 90vw !important;
        margin-bottom: 5vh;
        margin-bottom: 5vh;
    }
    .header > a > i {
        top:40%;
        scale: 1.3;
    }
}
@media only screen and (width > 1000px) {
    .header > a > i {
        top:50%;
        scale: 1.2;
    }
}

:root {
    --hover-accent: var(--main-accent);
}

html, body {
    background-color: rgb(var(--ych-bg-rgb));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    overflow-x: hidden;
}

.header {
    background: linear-gradient(var(--ych-accent) 50%, transparent);
}

#banner {
    flex-shrink: 0;
    margin-top: 4rem;
    width: 80rem;
}
#banner img {
    height: 100%;
    width:  100%;
    object-fit: cover;
}
#banner h2 {
    align-self: center;
}

.limited {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: var(--margin);
}

.limited h1 {
    margin: 0 !important;
    align-self: baseline !important;
    
}

.limited h3 {
    color: white;
    margin: 0 !important;
    font-family: 'Nunito', sans-serif;
    font-size: clamp(18px, 3vw, 1rem);
}
/*
.overlay {
    bottom: -100%;
    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.card:hover > .overlay {
    bottom: 0;
    opacity: 1;
}
*/
.bottom {
    position: relative;
    width: 100%;
    height: 10vh;
    background: linear-gradient(transparent, var(--ych-accent));
    z-index: 1;
    align-self: flex-end;
    flex-shrink: 0;
}
