@import url(../styles/common.css);
@import url(../styles/nav.css);


@media only screen and (width < 1400px) {
    p {
        width: auto !important;
    }

    .circle {
        height: auto !important;
        width: 80% !important;
    }

    #hero {
        height: auto !important;
        padding-bottom: calc(var(--margin) * 2);
    }
}

@media only screen and (width < 800px) {
    .double {
        grid-template-columns: none !important;
        grid-template-rows: 1fr 1fr;
    }
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(var(--bg-rgb));
}

:root {
    --text-medium: 20px;
    --text-title: 42px;
    --easing: cubic-bezier(0.27, 0, 0.40, 1);
}

#container,
#contents {
    padding-bottom: calc(var(--margin) * 2);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    color: white;
}

p {
    font-family: "Nunito sans", sans-serif;
    color: var(--text-soft);
    font-size: var(--text-medium);
    width: 100%;
    max-width: 80ch;
    margin-inline: var(--margin);
}

b {
    color: white;
}

ul {
    margin: 0;
    line-height: 1.8;
}

li {
    font-family: "Nunito sans", sans-serif;
    color: var(--text-soft);
    font-size: var(--text-medium);
    margin: 0 calc(var(--margin)/2);
}

h1 {
    font-family: "Nunito", sans-serif;
    color: white;
    font-weight: 800;
    font-size: clamp(1.8rem, 6vw, var(--text-title));
}

h2 {
    font-family: "Nunito", sans-serif;
    color: white;
    font-weight: 600;
    font-size: clamp(1.6rem, 4vw, var(--text-title));
    margin-inline: var(--margin);
}

.underline {
    display: inline-block;
}

.underline::after {
    content: '';
    display: block;
    height: 4px;
    background: white;
    border-radius: 5px;
    translate: 0 -160%;

    --easing: cubic-bezier(0.4, 0, 0.31, 1.38);
    animation: underline 1.5s var(--easing) forwards;
}

@keyframes underline {
    from {
        opacity: 0;
        width: 10%;
    }

    50% {
        width: 10%;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

#hero {
    padding-top: calc(var(--margin) * 4);
    height: calc(100vh - var(--margin) * 4);
    text-align: center;

    background: linear-gradient(#000002, #000511);
}

.separator {
    background: linear-gradient(#000511, #00000000);
    height: 5rem;
    margin-bottom: calc(var(--margin) * 2);
    width: 100%;
}

.circle {
    height: 80%;
    aspect-ratio: 1;

    border-radius: 50%;
    background: radial-gradient(circle at bottom, teal, skyblue 75%);
    box-shadow: 0 0 2rem #87ceeb35;

    display: flex;
    align-items: end;
    overflow: hidden;

    animation: fade-in 1s var(--easing) forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.circle>svg {
    scale: 4 6;
}

#wavehigh {
    translate: 20% -200%;
    z-index: 1;
    animation: highpan 2s .2s var(--easing) forwards;
}

@keyframes highpan {
    from {
        translate: 20% -200%;
    }

    to {
        translate: -50% -200%;
    }
}

#wavelow {
    translate: -20% -200%;
    z-index: 0;
    animation: lowpan 2s .2s var(--easing) forwards;
}

@keyframes lowpan {
    from {
        translate: -20% -200%;
    }

    to {
        translate: 20% -200%;
    }
}

.double {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: var(--margin);
    justify-items: center;
}

.double>img {
    max-height: 30pc;
}
