.dot-grid {
    position: fixed;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background: radial-gradient(circle at var(--d) var(--d),

            rgba(255, 255, 255, 0.1) calc(var(--d) - 1px),
            #00000000 var(--d)) 10px 10px;
    background-size: 40px 40px;
}

#blob {
    background-color: rgb(from white r g b / 0.8);

    border-radius: 50%;
    height: 100px;
    aspect-ratio: 1;
    filter: blur(50px);

    opacity: 0;
    animation: fade 1s ease-in 1s forwards;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    user-select: none;
    -webkit-user-select: none;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

