
{%- if isCommissions %}
<div class="dot-grid">
    <div id="blob"></div>
</div>
{%- elseif hasBlob %}
<div class="blobwrap">
    <div id="blob"></div>
</div>
{%- endif %}

{%- if hasDotGrid %}
<div class="dot-grid"></div>
{%- endif %}
