    <div class="navcont">
        <nav>
            <div>
                <a href="/">
                    <img src="/media/Logo.png" alt="FatDawlf's logo" id="logo">
                    <h1>FatDawlf</h1>
                </a>
            </div>
            <div>
                {%- if not isCharacters %}
                <a href="/characters/">Characters</a>
                {%- endif %}
                {%- if not isCommissions %}
                <a href="/commissions/" id="prices">Prices</a>
                {%- else %}
                <a onclick="ychscrollhandler()" id="ych">YCH</a>
                <a onclick="labsscrollhandler()" id="labs">LABS</a>
                <a href="/" id="prices">Contact me</a>
                {%- endif %}
            </div>
        </nav>
    </div>
