<meta property="og:title" content="FatDawlf - {{ title }}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://azakidev.github.io/media/thumbs/{{ thumbnail }}.png">
<meta property="og:url" content="https://azakidev.github.io/">
<meta property="og:description" content="{{ description }}">

<meta name="twitter:card" content="summary_large_image">
