<div class="socials">
    <div class="container">
        <a title="Twitter" href="https://twitter.com/FatDawlf" target="_blank"><i
                class="fa-brands fa-twitter"></i></a>
        <a title="Bluesky" href="https://bsky.app/profile/fatdawlf.bsky.social" target="_blank"><i
                class="fa-brands fa-bluesky"></i></a>
        <a title="Mastodon" rel="me" href="https://wobbl.xyz/@FatDawlf" target="_blank"><i
                class="fa-brands fa-mastodon"></i></a>
    </div>
    <div class="container">
        <a title="Discord" href="https://discordapp.com/users/332940870150258688" target="_blank"><i
                class="fa-brands fa-discord"></i></a>
        <a title="FurAffinity" href="https://www.furaffinity.net/user/akiranoguichi" target="_blank"><i
                class="fa-solid fa-paw"></i></a>
        <a title="GitHub" href="https://github.com/Azakidev" target="_blank"><i
                class="fa-brands fa-github"></i></a>
    </div>
    <div class="container">
        <a title="Bandcamp" href="https://fatdawlf.bandcamp.com" target="_blank"><i
                class="fa-brands fa-bandcamp"></i></a>
        <a title="Email" href="mailto:zazaguichi@outlook.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
</div>
