@import url(../styles/common.css);
@import url(../styles/ych-labs.css);

@media only screen and (width < 1000px) {
    .grid > a > i {
        top:40%;
        scale: 1.3;
    }
}
@media only screen and (width > 1000px) {
    .grid > a > i {
        top:50%;
        scale: 1.2;
    }
}

:root {
    --hover-accent: var(--labs-accent);
}

html, body {
    height: 100dvh;
    width: 100%;
    background-color: rgb(var(--labs-bg-rgb));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.grid {
    background: linear-gradient(90deg, rgba(255, 255, 255,.25) 2px, transparent 2px),
    linear-gradient(0deg, rgba(255, 255, 255,.25) 2px, transparent 2px),#1d57a0;
    background-size: 5vmin 5vmin;
    background-position: 50% 50%;
    padding-bottom: min(2vmin,2vh);
    transition-duration: 200ms;
}
.header:hover > .grid {
    background-size: 7vmin 7vmin;
}

.overlay {
    bottom: 0;
}

#refs {
    object-position: top;
}
#lless {
    object-position: 0 20%;
}
#animloop {
    object-position: top;
}
