---
layout: ./main.njk
permalink: 404.html
is404: true
hasDotGrid: true
---

    <div class="content">
        <div class="card">
            {{ content | safe }}
        </div>
        <img src="/media/404.png" alt="Nathaki shrugging at you">
    </div>
