---
layout: ./main.njk
isCommissions: true
hasBlob: true
---

    <section class="layout">
        <div class="wrap">
            <img src="/media/prices/sheet.png" alt="A price sheet">
            <div class="card">
                <h1>Pricing</h1>
                <p>
                    My commissions are priced per character per image.<br>
                    Listed here is the price for the first character per style.<br>
                    Each additional character cost half the price of the first.<br>
                    Simple backgrounds are included at no additional cost.<br>
                    Complex backgrounds may cost up to 20% more than the total character cost.<br>
                    <br>
                    Full payment is done beforehand via Paypal.<br>
                    <br>
                    More styles and examples below!
                </p>
                <div class="buttons">
                    <span class="button" onclick="cardsscrollhandler()" role="button" tabindex="0">
                        Show me!
                        <i class="fa-solid fa-fw fa-arrow-right"></i>
                    </span>
                    <!-- <a class="button" href="../gallery/" role="button" tabindex="0">
                        More examples!
                        <i class="fa-solid fa-fw fa-arrow-right"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </section>
    <section id="tos">
        <h2>Terms of Service</h2>
        <div class="wrap">
            <div class="card">
                <h1>How many characters?</h1>
                <p>
                    The price is calculated per character drawn.<br>
                    For example, in a two character commission with two variations to have one of the characters swapped by someone else, you'd be charged three characters total instead of four.<br>
                    <br>
                    This also applies to YCHs, where usually some of my characters may already be drawn and therefore cheaper if you choose one of them.
                </p>
            </div>
            <div class="card">
                <h1>Changed your mind?</h1>
                <p>
                    Full refunds are guaranteed up to the first few drafts or sketches.<br>
                    I may also change my mind or deny a commission at any point, however refunds are not guaranteed in the latter stages of a commission.<br>
                    <br>
                    I may also deny taking a commission if it contains a copyrighted character you don't own or a topic I may not be comfortable with, but feel free to ask!
                </p>
            </div>
            <div class="card">
                <h1>Sharing is caring</h1>
                <p>
                    Please credit me whenever you share my art.<br>
                    It also helps a lot when you do share it!<br>
                    This applies to non commissioned art as well.<br>
                    It's just good manners.<br>
                    <br>
                    Due to Twitter's actions, please crop or otherwise obscure or distort part of the art before sharing in that platform.<br>
                    <br>
                    Do <b>not</b> crop out or otherwise remove my signature as you'd be banned from ever commissioning me again.
                </p>
            </div>
        </div>
    </section>
    <section id="process">
        <h2>What's the process?</h2>
        <div class="wrap">
            <div class="card">
                <h1>First...</h1>
                <p>
                    Contact me through your platform of choice to be added to my wait-list.<br>
                    The process is free and without any compromise.<br>
                    You can consult the wait-list at any time, even if you're not going to buy one.
                </p>
            </div>
            <div class="card">
                <h1>Then...</h1>
                <p>
                    You'll be contacted back once your turn arrives, the details of the commission will be discussed and full payment will be done.<br>
                    I will start then working on it, giving frequent updates on every step of the way.
                </p>
            </div>
            <div class="card">
                <h1>Finally!</h1>
                <p>
                    The commission is finished and you may share it!
                </p>
            </div>
        </div>
    </section>
    <section id="pcards">
        <h2>More examples!</h2>
        {%- for price in collections.prices -%}
        <div class="row" id="row{{price.data.order}}">
            <!-- Image -->
            <div class="pcard" data-bgimage="{{ price.data.imageId }}" id="{{ price.data.imageId }}" tabindex="0"></div>
            <!-- Text -->
            <div class="pcard text">
                {{ price.templateContent | safe }}
            </div>
        </div>
        {%- endfor -%}
    </section>
    <section class="ych-labs">
        {% include "./components/labs.njk" %}
        {% include "./components/ych.njk" %}
    </section>
