@media only screen and (width < 1100px){
    :root {
        --small-card-height: 40vh;
        --big-card-width: 70%;
        --card-text-large: 24px;
        --card-text-medium: 16px;
        --card-text-small: 14px;
    }
    .row {
        margin: var(--margin);
        gap: calc( var(--margin) / 2 );
    }
}

@media only screen and (width > 1100px){
  :root {
      --small-card-height: 40vh;
      --big-card-width: 70%;
      --card-text-large: 64px;
      --card-text-medium: 26px;
      --card-text-small: 24px;
  }
  .row {
    margin: var(--margin) calc( var(--margin) * 3);
    gap: var(--margin);
  }
  .row:hover {
    height: calc(var(--small-card-height) * 1.8);

    .pcard { border-radius: calc( var(--margin) / 4 ); }

    .name { color: white; }

    .pcard:first-child {
        box-shadow: 0 0 20px var(--main-accent);
    }

    .pcard h1 { font-size: 86px; }
    }
    .cards:hover > .row:not(:hover) { 
        height: calc( var(--small-card-height) - var(--small-card-height) / 7 )
    }

}

.cards {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.row {
    display: flex;
    flex-direction: row;

    height: var(--small-card-height);
    transition-duration: 200ms;
}

#reverse { flex-direction: row-reverse; }

.pcard {
    border-radius: calc( var(--margin) / 2 );
    background-color: rgba(var(--container-bg), .6);
    
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    
    text-align: center;
    font-family: 'Nunito', sans-serif;
    transition-duration: 200ms;
    transition-delay: 200ms;
}
.pcard:first-child {
    width: var(--big-card-width);
    background-size: cover;
    background-position: center;
}
.pcard:last-child {
    width: calc(100% - var(--big-card-width));
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pcard h1  {
    color: white;
    font-size: var(--card-text-large);
    margin: 0;
    margin-bottom: 10%;
    transition-duration: 200ms;
}
.pcard h2 {
    color: var(--text-soft);
    font-size: var(--card-text-small);
    margin: 0;
    transition-duration: 200ms;
}
.name {
    font-size: var(--card-text-medium);
    margin-bottom: .5rem;
    transition-duration: 200ms;
}