@media only screen and (width < 800px) {
    #content img {
        width: 100% !important;
    }

    .card {
        width: auto !important;
    }
}

#content {
    position: relative;
    height: 100vh;
    margin: 0 var(--margin);
}

img {
    width: calc(50% - var(--margin) / 2);
    border-radius: 1rem;
}
