@media only screen and (width < 800px) {
    .content {
        flex-direction: column !important;
        justify-content: space-evenly;
        
        & img {
            width: 100% !important;
        }
    }

    .card {
        width: auto !important;
    }
}

body {
    min-height: 100vh;
    width: 100vw;
}

.content {
    position: relative;

    height: calc(100% - var(--margin) * 5);

    display: flex;
    flex-direction: row;
    gap: var(--margin);
    align-items: center;

    margin: calc(var(--margin) * 4) calc(var(--margin) * 2);
    margin-bottom: var(--margin);
}

img {
    width: calc(50% - var(--margin) / 2);
    border-radius: 1rem;
}
