@media only screen and (width < 500px) {
    #sheet {
        padding-top: calc(var(--margin) * 5) !important;
        & img {
            max-width: 100% !important;
        }
    }

    .card {
        width: auto !important;
    }
}

@media only screen and (width < 1100px) and (width > 500px) {
    #sheet {
        padding-top: calc(var(--margin) * 4) !important;
        & img {
            max-width: 100% !important;
        }
    }

    .card {
        width: auto !important;
    }
}

@media only screen and (width < 1300px) {
    .arrow {
        opacity: 0;
        animation: reverse fade-in 2s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .banner {
        margin-bottom: 0;
        height: auto;
    }
}

@media only screen and (width > 1300px) {
    .arrow {
        animation: forwards fade-in 2.1s cubic-bezier(0.34, 1.56, 0.64, 1) 0.5s;

        i {
            animation: forwards slide 2s cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s;
        }
    }

    .banner {
        height: 98vh;
    }

    #tos,
    #process {
        .card {
            align-self: stretch !important;
            justify-content: start;
        }
    }

    #process .card:last-of-type {
        justify-content: center;

        &>h1 {
            position: absolute;
            top: var(--margin);
        }
    }
}

.left h1 {
    margin: 0;
}

.banner {
    z-index: 2;

    & img {
        border-radius: 0px 0px 1rem 1rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        object-position: top;
    }
}

.arrow {
    translate: 0 -75%;
    text-align: center;
    font-size: 4vmin;
    opacity: 0;

    & i {
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
    }

    & i:hover {
        scale: 1.2;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

@keyframes slide {
    from {
        translate: 0 -100%;
    }

    to {
        translate: 0 0;
    }
}

.hc {
    &>img {
        aspect-ratio: 1;
        z-index: 2;

        border-radius: 1rem;
        user-select: none;
        -webkit-user-select: none;

        transition-property: scale, border-radius, box-shadow;
        transition-duration: 0.2s;

        &:hover {
            scale: 1.01;
            border-radius: .5rem;
            box-shadow: 0px 0px 20px var(--main-accent);
        }
    }
}

#buttons {
    cursor: pointer;
    gap: calc(var(--margin) / 2);
}

#sheet {
    padding: var(--margin);
    padding-top: calc(var(--margin) * 4);
    gap: calc(var(--margin) * 2);

    & img {
        max-width: 50vw;
        max-height: 80vh;
        aspect-ratio: 1;
        view-transition-name: price-img;
    }

    & .card {
        view-transition-name: price-card;
    }
}

#tos,
#process {

    margin: var(--margin);

    & h2 {
        font-size: calc(var(--text-large) * .8);
        font-style: italic;
        font-weight: 200;
        text-align: center;

        margin: calc(var(--margin) * 2) 0;
        margin-top: 0;
    }

    & h1 {
        font-size: calc(var(--text-medium) * 1.25) !important;
    }
}

.subtext {
    color: var(--text-soft);
    font-weight: 200;
    font-style: italic;
    margin-left: var(--margin);
    font-size: var(--text-small);
}
