@media only screen and (width < 500px) {
    .layout {
        padding: calc(var(--margin) * 2) var(--margin) !important;
        padding-top: calc(var(--margin) * 5) !important;
        height: auto !important;
        width: calc(100% - var(--margin) * 2) !important;
    }

    .wrap {
        flex-direction: column;
        
        & img {
            max-width: 100% !important;
        }
    }

    .card {
        width: auto !important;
    }

    .buttons {
        flex-wrap: wrap !important;
    }
}

@media only screen and (width < 1100px) and (width > 500px) {
    .layout {
        padding: calc(var(--margin) * 2) var(--margin) !important;
        padding-top: calc(var(--margin) * 4) !important;
        height: auto !important;
        width: calc(100% - var(--margin) * 2) !important;
    }

    .wrap { 
        flex-direction: column;
        
        & img {
            max-width: 100% !important;
        }
    }

    .card {
        width: auto !important;
    }

    .buttons {
        flex-wrap: wrap !important;
    }
}

@media only screen and (width < 1300px) {
    .arrow {
        opacity: 0;
        animation: reverse fade-in 2s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .banner {
        margin-bottom: 0;
        height: auto;
    }
}

@media only screen and (width > 1300px) {
    .arrow {
        animation: forwards fade-in 2.1s cubic-bezier(0.34, 1.56, 0.64, 1) 0.5s;
        i {
            animation: forwards slide 2s cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s;
        }
    }

    .banner {
        height: 98vh;
    }

    #tos, #process {
        .card {
            align-self: stretch !important;
            justify-content: start;
        }
    }

    #process .card:last-of-type {
        justify-content: center;
        &>h1 {
            position: absolute;
            top: var(--margin);
        }
    }
}

body {
    background-color: rgb(var(--bg-rgb));
    margin: 0;
    display: flex;
    flex-direction: column;
}

.left h1 {
    margin: 0;
}

#blob {
    background-color: rgba(255, 255, 255, 0.8);
    height: 200px;
    scale: .5;
    filter: blur(100px);
}

.banner {
    z-index: 2;
    
    & img {
        border-radius: 0 0 1rem 1rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        object-position: top;
    }
}

.arrow {
    translate: 0 -75%;
    color: white;
    text-align: center;
    font-size: 4vmin;
    opacity: 0;
    
    & i {
        transition-duration: 200ms;
        transition-timing-function: ease-in;
    }
    
    & i:hover {
        scale: 1.2;
        opacity: 1;
    }
}

@keyframes fade-in {
    from { opacity: 0; }
    10% { opacity: 0; }
    to { opacity: 0.8; }
}

@keyframes slide {
    from { translate: 0 -100%; }
    to { translate: 0 0; }
}

.layout {
    height: calc(100vh - var(--margin) * 5);
    width: calc(100% - var(--margin) * 2);

    display: flex;
    gap: var(--margin);
    flex-wrap: nowrap;

    padding: var(--margin);
    padding-top: calc(var(--margin) * 4);

    justify-content: center;


    & .card {
        view-transition-name: price-card;
    }

    & img {
        view-transition-name: price-img;
    }
}

.wrap {
    display: flex;
    flex-grow: 1;

    align-items: center;
    justify-content: space-around;

    gap: var(--margin);
    
    &>img {
        max-width: 45%;
        min-width: 0;
        aspect-ratio: 1;
        z-index: 2;
    
        border-radius: 1rem;
        user-select: none;
        -webkit-user-select: none;
        transition-duration: 200ms;
        color: white;
        
        &:hover {
            scale: 1.01;
            border-radius: .5rem;
            box-shadow: 0 0 20px var(--main-accent);
        }
    }
}

.card {
    align-self: center;
    align-content: space-between;
}

.buttons {
    align-self: center;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: calc(var(--margin) / 2);
}

#tos, #process {
    margin: var(--margin);
    
    h2 {
        font-size: calc(var(--text-large) * .8);
        font-style: italic;
        font-weight: 200;
        text-align: center;

        margin: calc(var(--margin) * 2) 0;
        margin-top: 0;
    }
    
    h1 {
        font-size: calc(var(--text-medium) * 1.25) !important;
    }

    b {
        font-weight: 1000;
    }
}

.subtext {
    color: var(--text-soft);
    font-weight: 200;
    font-style: italic;
    margin-left: var(--margin);
    font-size: var(--text-small);
}
