@media (hover: none) {
    #blob {
        display: none;
    }
}

@view-transition {
    navigation: auto;
}

::view-transition-group(price-img),
::view-transition-group(price-card) {
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

::view-transition-old(price-img),
::view-transition-old(price-card) {
    animation-name: blur-in;
}

::view-transition-new(price-img),
::view-transition-new(price-card) {
    animation-name: blur-out;
}

@keyframes blur-in {
    from {
        filter: blur(10px);
        opacity: 1;
        scale: 1;
    }

    to {
        opacity: 0;
        scale: 0.8;
    }
}

@keyframes blur-out {
    from {
        opacity: 0;
        scale: 0.8;
    }

    to {
        filter: blur(0px);
        opacity: 1;
        scale: 1;
    }
}

body {
    background-color: var(--bg);
    
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

* {
    color: white;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: var(--text-large);
    font-weight: 1000;
    margin: 0;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--text-medium);
    font-weight: 200;

    margin: 0;
}

strong {
    font-weight: 1000 !important;
}

.card {
    text-align: center;
    border: 2px solid var(--container-border);
    border-radius: 2rem;

    backdrop-filter: blur(70px);

    width: 45%;
    max-width: 80ch;
    padding: var(--margin);

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: clamp(20px, 5vw, 2rem);
    font-weight: 1000;
    text-decoration: none;
    letter-spacing: normal;
    text-wrap-mode: nowrap;

    background: var(--button);

    padding: calc(var(--margin) / 1.5);
    border-radius: 6rem;

    transition-duration: 200ms;

    &:hover {
        letter-spacing: 2px;
        font-weight: 400;
        font-style: italic;

        background: var(--main-accent);
        box-shadow: 0 0 20px var(--main-glow);
    }

    &:active {
        padding: calc(var(--margin) / 1.8);
    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    opacity: 0.5;
    font-family: 'Nunito', sans-serif;
    font-size: 1vmin;
    user-select: none;
    -webkit-user-select: none;
    margin: 0.5vmin;
}
