@media only screen and (width < 500px) {
    .socials {
        flex-direction: column;
        gap: calc(var(--margin) / 2) !important;
    }

    #pricesPeek {
        padding: calc(var(--margin) * 2) var(--margin) !important;
        height: auto !important;
        width: calc(100% - var(--margin) * 2) !important;

        &>.hc>img {
            width: 100% !important;
        }
    }

    .card {
        width: auto !important;
    }

    .projects .card {
        transform: none !important;
    }
}

@media only screen and (width < 800px) and (width > 500px) {
    #pricesPeek {
        padding: calc(var(--margin) * 2) var(--margin) !important;
        height: auto !important;
        width: calc(100% - var(--margin) * 2) !important;

        &>.hc>img {
            width: 100% !important;
        }
    }

    .card {
        width: auto !important;
    }
}

@media only screen and (width > 1200px) {
    #pricesPeek {
        align-items: initial !important;
        height: fit-content !important;
    }

    #pricesPeek .hc {
        gap: calc(var(--margin) * 4);
    }

    .projects {
        height: fit-content !important;
    }
}

.blobwrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.content {
    position: relative;
    padding: 0 var(--margin);
    z-index: 2;
    background: radial-gradient(circle at var(--d) var(--d),
            rgba(255, 255, 255, 0.1) calc(var(--d) - 1px),
            #00000000 var(--d)) 10px 10px;
    background-size: 40px 40px;
}

.hero {
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100vh;

        background-image: url(/media/bg.png);
        background-position: center;
        background-size: cover;
        opacity: 0.3;
        filter: blur(5px) saturate(1.2);
        scale: 1.01;
        z-index: -1;
    }

    & .text {
        margin: var(--margin);

        &>* {
            transition-duration: 200ms;
        }

        & h2 {
            font-size: var(--text-medium);
            font-style: normal;
            font-weight: 200;
            color: var(--text-soft);
            max-width: 80ch;
        }
    }
}

#socials {
    font-size: min(var(--text-large), 2.5rem);

    user-select: none;
    -webkit-user-select: none;

    transition-duration: 0.2s;

    gap: var(--margin);

    &>.hc {
        gap: var(--margin);
    }

    & i {
        transition-duration: 0.2s;

        &:hover {
            font-size: clamp(36px, 7vw, 2.8rem);
        }
    }

    & .fa-discord:hover {
        color: #5865F2;
    }

    & .fa-twitter:hover {
        color: #00a3e8;
    }

    & .fa-bluesky:hover {
        color: #1185fe;
    }

    & .fa-mastodon:hover {
        color: #2b8fda;
    }

    & .fa-paw:hover {
        color: #957779;
    }

    & .fa-bandcamp:hover {
        color: #3c9aaa;
    }

    & .fa-github:hover {
        color: #51d4ff;
    }

    & .fa-envelope:hover {
        color: var(--main-accent);
    }
}

#pricesPeek {
    & .card {
        view-transition-name: price-card;
    }

    & img {
        max-width: 60vh;
        max-height: 80vh;
        aspect-ratio: 1;

        view-transition-name: price-img;

        user-select: none;
        -webkit-user-select: none;
        touch-action: none;

        transition-duration: 0.2s;
    }
}

#projects {
    height: fit-content;
    margin-bottom: var(--margin);

    &>h1 {
        font-weight: 200;
        font-style: italic;
        text-align: center;
        margin: var(--margin);
    }

    & .card {
        max-width: 65ch;
    }
}
