@media only screen and (width < 500px) {
    :root {
        --nav-text-title: clamp(14px, 3vw, 1.5rem);
        --nav-text-link: clamp(12px, 3vw, 1rem);
        --logo-size: 50px !important;
    }

    nav {
        flex-direction: column;
        align-items: center;
        margin: calc(var(--margin) / 1.5) calc(var(--margin) * 1.25);
        padding: .5rem 0;

        & :last-child {
            gap: calc(var(--margin) / 2);
            margin-right: 0 !important;
        }
    }

}

@media only screen and (width < 800px) and (width > 500px) {
    :root {
        --nav-text-title: clamp(14px, 3vw, 1.5rem);
        --nav-text-link: clamp(12px, 3vw, 1rem);
        --logo-size: 64px !important;
        --nav-padding: 23px;
    }

    nav {
        margin: calc(var(--margin) / 1.5) var(--margin);
        height: calc(var(--margin) + 48px);

        & :last-child {
            gap: calc(var(--margin) / 2);
        }
    }
}

@media only screen and (width < 1150px) and (width > 800px) {
    :root {
        --nav-text-title: clamp(14px, 3vw, 2.25rem);
        --nav-text-link: clamp(12px, 3vw, 1.75rem);
        --nav-padding: 15px;
    }

    nav {
        margin: calc(var(--margin) / 1.5) var(--margin);
        height: calc(var(--margin) + 48px);

        & :last-child {
            gap: calc(var(--margin) / 1.75);
        }
    }
}

@media only screen and (width > 1150px) {
    :root {
        --nav-text-title: clamp(20px, 6vw, 2.5rem);
        --nav-text-link: clamp(20px, 6vw, 2rem);
        --nav-padding: 12px;
    }

    nav {
        margin: calc(var(--margin) / 1.5) calc(var(--margin) * 4);
        height: calc(var(--margin) + 48px);

        & :last-child {
            gap: calc(var(--margin) / 1.5);
        }
    }
}

:root {
    --nav-timing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navcont {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}

nav {
    border: solid 2px rgba(var(--button), 0.6);
    border-radius: 6rem;
    background-color: rgba(var(--container-bg), 0.5);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    transition-duration: 200ms;
    transition-timing-function: var(--nav-timing);
    view-transition-name: navtransition;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & :first-child {
        height: inherit;
        display: flex;
        align-items: center;

        margin-left: calc(var(--nav-padding) / 2);

        &>h1 {
            font-family: 'Nunito', sans-serif;
            font-size: var(--nav-text-title);
            font-weight: 1000 !important;
            color: white;
        }
    }

    & :last-child {
        display: flex;
        align-items: center;

        margin-right: calc(var(--nav-padding) / 2);

        &>a {
            font-family: 'Nunito', sans-serif;
            font-size: var(--nav-text-link);
            font-weight: 400;
            letter-spacing: normal;
            text-decoration: none;


            color: white;
            transition-duration: 0.2s;
            transition-delay: 0.1s;

            &:hover {
                letter-spacing: 1.5px;
            }
        }

        & #prices {
            padding: .5rem 1.2rem;
            background-color: rgb(var(--button));
            border-radius: 6rem;

            font-weight: 800;

            &:hover {
                background-color: var(--main-accent);
                font-weight: 400;
                font-style: italic;
            }
        }

        & #labs,
        & #ych {
            cursor: pointer;
        }

        & #labs:hover {
            color: var(--labs-accent);
        }

        & #ych:hover {
            color: var(--ych-accent);
        }
    }
}

::view-transition-group(content) {
    animation-timing-function: var(--nav-timing);
    animation-duration: 0.6s;
}

::view-transition-old(content) {
    translate: 0 -150%;
}

::view-transition-new(content) {
    translate: 0;
}


#logo {
    height: var(--logo-size);
    max-height: 80px;
    transition-duration: 200ms;
    filter: drop-shadow(0px 0px 2px #00000044);

    &:hover {
        scale: 1.1;
        animation: spinny 400ms forwards;
    }
}

@keyframes spinny {
    from {
        rotate: 0;
    }

    33% {
        rotate: -8deg;
    }

    66% {
        rotate: 8deg;
    }

    to {
        rotate: 0;
    }
}
