@media only screen and (width < 500px) {
    :root {
        --nav-text-title: clamp(14px, 3vw, 1.5rem) !important;
        --nav-text-link: clamp(12px, 3vw, 1rem) !important;
        --logo-size: 50px !important;
    }

    nav {
        margin: calc(var(--margin) / 1.5) calc(var(--margin) * 1.25);
        padding: .5rem 0;
        justify-content: center !important;

        & :last-child {
            gap: calc(var(--margin) / 2);
            margin-right: 0 !important;
        }
    }

}

@media only screen and (width < 800px) and (width > 500px) {
    :root {
        --nav-text-title: clamp(14px, 3vw, 1.5rem) !important;
        --nav-text-link: clamp(12px, 3vw, 1rem) !important;
        --logo-size: 64px !important;
        --nav-padding: 23px;
    }

    nav {
        margin: calc(var(--margin) / 1.5) var(--margin);

        & :last-child {
            gap: calc(var(--margin) / 2);
        }
    }
}

@media only screen and (width < 1150px) and (width > 800px) {
    nav {
        margin: calc(var(--margin) / 1.5) var(--margin);

        & :last-child {
            gap: calc(var(--margin) / 1.75);
        }
    }
}

@media only screen and (width > 1150px) {
    :root {
        --nav-text-title: clamp(20px, 6vw, 2.5rem);
        --nav-text-link: clamp(20px, 6vw, 2rem);
        --nav-padding: 12px;
    }

    nav {
        margin: calc(var(--margin) / 1.5) calc(var(--margin) * 4);
        /* height: calc(var(--margin) + 48px); */

        & :last-child {
            gap: calc(var(--margin) / 1.5);
        }
    }
}

.navcont {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}

nav {
    --blurSize: 30px;
    border: solid 2px rgb(from var(--button) r g b / 0.6);
    border-radius: 6rem;
    background-color: rgb(from var(--container-bg) r g b / 0.5);

    backdrop-filter: blur(var(--blurSize));
    -webkit-backdrop-filter: blur(var(--blurSize));

    transition-duration: 0.2s;
    transition-timing-function: var(--nav-timing);
    view-transition-name: navtransition;

    & :first-child {
        height: inherit;

        &>a {
            gap: 0;
            user-select: none;
            -webkit-user-select: none;

            transition-duration: 0.2s;
            transition-delay: 0.1s;

            &>span {
                font-family: 'Nunito', sans-serif;
                font-weight: 1000;
                font-size: var(--nav-text-title);
            }

            &>* {
                margin: 0;
            }

            &:hover {
                text-shadow: 0px 3px 0px rgb(from black r g b / 1);

                &>#logo {
                    scale: 1.1;
                    animation: spinny 400ms forwards;
                }
            }
        }
    }

    & :last-child {
        margin-right: calc(var(--nav-padding) / 2);

        &>a {
            font-family: 'Nunito', sans-serif;
            font-size: var(--nav-text-link);
            font-weight: 400;

            transition-duration: 0.2s;
            transition-delay: 0.1s;

            &:hover {
                letter-spacing: 1.5px;
            }
        }

        & #prices {
            padding: .5rem 1.2rem;
            background-color: var(--button);
            border-radius: 6rem;

            font-weight: 800;

            &:hover {
                background-color: var(--main-accent);
                font-weight: 400;
                font-style: italic;
            }
        }

        & #labs,
        & #ych {
            cursor: pointer;
        }

        & #labs:hover {
            color: var(--labs-accent);
        }

        & #ych:hover {
            color: var(--ych-accent);
        }
    }
}

::view-transition-group(content) {
    animation-timing-function: var(--nav-timing);
    animation-duration: 0.6s;
}

::view-transition-old(content) {
    translate: 0 -150%;
}

::view-transition-new(content) {
    translate: 0;
}


#logo {
    height: 100%;
    max-height: var(--logo-size);

    transition-duration: 0.2s;
    filter: drop-shadow(0px 0px 2px #00000044);

}

@keyframes spinny {
    from {
        rotate: 0;
    }

    33% {
        rotate: -8deg;
    }

    66% {
        rotate: 8deg;
    }

    to {
        rotate: 0;
    }
}
