@media only screen and (width < 1100px) {
    :root {
        --small-card-height: 40vh;
        --big-card-width: 70%;
    }

    .row {
        margin: var(--margin);
        gap: calc(var(--margin) / 2);
    }
}

@media only screen and (width > 1100px) {
    :root {
        --small-card-height: 40vh;
        --big-card-width: 70%;
    }

    .row {
        margin: var(--margin) calc(var(--margin) * 3);
        gap: var(--margin);

        &:hover {
            height: calc(var(--small-card-height) * 1.8);

            &>.pcard {
                border-radius: calc(var(--margin) / 4);

                &:first-child {
                    box-shadow: 0 3px 0px var(--main-accent);
                }

                & h1 {
                    font-size: 96px;
                }
            }

            & h2:first-of-type {
                font-weight: 400;
            }
        }

    }
}

#pcards {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    &:hover>.row:not(:hover) {
        height: calc(var(--small-card-height) - var(--small-card-height) / 7)
    }

    &>h2 {
        font-size: calc(var(--text-large) * .8);
        font-style: italic;
        font-weight: 200;
        text-align: center;

        margin-top: var(--margin);
        margin-bottom: var(--margin);
    }
}

.row {
    display: flex;
    flex-direction: row;

    height: var(--small-card-height);
    
    transition-duration: 0.2s;
    transition-delay: 0.1s;

    & * {
        transition-duration: 0.2s;
        transition-delay: 0.1s;
    }

    &.reverse {
        flex-direction: row-reverse;
    }
}


.pcard {
    border-radius: calc(var(--margin) / 2);
    background-color: rgb(from var(--container-bg) r g b / 0.6);

    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    text-align: center;

    &:first-child {
        width: var(--big-card-width);
        background-size: cover;
        background-position: center;
    }

    &:last-child {
        width: calc(100% - var(--big-card-width));
        padding: calc(var(--margin) / 2);

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & h1 {
        margin-bottom: calc(var(--margin) / 2);
    }

    & h2 {
        color: var(--text-soft);
        font-size: var(--text-small);
        font-weight: 200;
        font-style: italic;
        margin: 0;
        
        &:first-of-type {
            font-size: var(--text-medium);
            margin-bottom: .5rem;
        }
    }

}

#css {
    background-position-y: 10%;
}

#cs {
    background-position-y: 25%;
}

#s {
    background-position-y: 5%;
}
