@media only screen and (width < 1150px) {

    #labscardwrapper,
    #ychcardwrapper {
        flex-direction: column !important;
    }

    #labscards,
    #ychcards {
        flex-direction: column !important;
        height: auto !important;
        padding: 0 !important;
        padding-top: var(--margin) !important;
    }

    .offerrow {
        padding: var(--margin) 0 !important;
    }

    .offerarrow {
        display: none;
    }

    .offercard {
        scale: 1 !important;
        border-radius: 1rem !important;
        box-shadow: none !important;

        .overlay {
            bottom: 0% !important;
        }
    }
}

@media only screen and (width > 1150px) {

    #labscards .offercard:not(.active),
    #ychcards .offercard:not(.active) {
        max-width: 5rem !important;
        border-radius: 6rem;
        cursor: pointer;

        .overlay {
            bottom: -100%;
        }
    }
}

.offerrow {
    display: flex;
    flex-direction: column;
    padding: calc(var(--margin) * 2) 0;

    align-items: center;

    &>h1 {
        font-size: var(--text-large);
        font-weight: 1000;
        color: white;
        margin: 0 !important;
    }

    &>h2 {
        font-size: var(--text-medium);
        font-weight: 200;
        font-style: italic;
        margin: 0 !important;
    }
}

#labscardwrapper,
#ychcardwrapper {
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    width: 100%;

    & .offerarrow {
        height: 55px;
        aspect-ratio: 1;
        cursor: pointer;

        position: absolute;
        z-index: 5;
        align-self: center;

        &.left {
            left: var(--margin);
        }

        &.right {
            right: var(--margin);
        }

        & i {
            color: var(--text-soft);
            font-size: var(--text-medium);

            padding: 16px;
            transition-duration: 100ms;

            border-radius: 6rem;
            box-shadow: 0 3px rgba(from black r g b / 0.5);
            background-color: rgb(from var(--button) r g b / 0.8);
            backdrop-filter: blur(12px);

            pointer-events: none;
        }

        &:hover>i {
            box-shadow: 0 6px rgba(from black r g b / 0.5);
            translate: 0 -3px;
        }

        &:active i {
            box-shadow: none;
            translate: 0 3px;
        }
    }
}

#offerlabs {
    background-color: var(--labs-bg);
    box-shadow: 0 0 2rem var(--labs-bg);
    --hover-accent: var(--labs-accent);
}

#offerych {
    background-color: var(--ych-bg);
    box-shadow: 0 0 2rem var(--ych-bg);
    --hover-accent: var(--ych-accent);
}

#labscards,
#ychcards {
    display: flex;
    flex-direction: row;
    padding: calc(var(--margin) * 2) 0;
    gap: calc(var(--margin) * 1.5);
    height: 35rem;

    align-items: center;

    .offercard {
        position: relative;

        transition-duration: 500ms;
        transition-timing-function: var(--card-timing);

        border-radius: 1rem;
        overflow: hidden;

        height: 100%;
        max-width: 80dvw;
        aspect-ratio: 4/3;

        &:is(.active) {
            scale: 1.05;
            border-radius: 0.5rem;
            box-shadow: 0px 3px 0px var(--hover-accent);
        }

        &:not(.active):hover {
            scale: 1.05;
            border-radius: 2rem;
        }

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            user-select: none;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            transition-duration: 0.2s;

            display: flex;
            justify-content: space-between;
            align-content: center;

            &::before {
                content: '';

                position: absolute;
                bottom: 0;
                z-index: 1;

                width: 100%;
                height: 8rem;

                mask: linear-gradient(0deg, #000 40%, rgb(from black r g b / 0.8) 80%, #0000 100%);
                backdrop-filter: blur(70px);
            }

            &>h1 {
                align-self: center;
                margin-left: var(--margin);
                font-size: clamp(24px, 4vw, 2rem);
                font-weight: 1000;
                z-index: 2;
            }

            &>h2 {
                align-self: center;
                margin-right: var(--margin);
                font-size: clamp(24px, 3vw, 2rem);
                font-weight: 200;
                font-style: italic;
                z-index: 2;
            }
        }
    }
}
